@charset "utf-8";

/* CSS Reset */

    /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
	
	 html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    

	article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }


/* CSS Document */

* {
	box-sizing: border-box;
}

.wrapnav ul{
	display: flex;
		justify-content: center;
}

.navdemo {
	width: 100px;
	height: 37px;
	background-color: #732779;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 90;
    border-radius: 7px;
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	font-weight: 500;
	margin-left: 30px;

	margin-bottom: 13px;
	margin-top: 10px;
}

.active {
	background-color: #592161;
	color: #C8CF2C;
}

.nav {
    margin: 0 auto;
	width: 100%;
	list-style-type: none;
	position: fixed;
	background: #ffffff;
	z-index: 10;
} 


.nav a {
	display: block;
	text-decoration: none;		
}



/****** OTHER *******/


.topteeth {
	z-index: 10;
	position: fixed;
	top: 56px;
	background-image: url('img/top_zig_bg.png');
	background-repeat: repeat-x;
	height: 56px;
	width: 100%;	

}

.main {
	top: 90px;
	background: #922d90;
}

.welcome {
	padding-top: 120px;
	padding-left: 70px;
	font-size: 1em;
	color: #922d90;
	max-width: 25%;
	line-height: 2em;
	text-align: justify;
	min-width: 310px;
	font-family: 'Dosis', sans-serif;
	visibility: hidden;
	
}

.wtext { 
	background-color:#ffffff; 
	visibility: hidden;
}

.arrows {
	display: block;
	margin: 30px 0 0 75px;
	width: 20%;
	visibility: hidden;
}


.background {
	
	background: url('img/zigzag_tile3.png') repeat;
	background-attachment: fixed;
	height: 593px;
	width: 100%;
	box-shadow: inset 10px 0px 120px 60px rgba(89, 33, 97, 0.8);
}

.logo_large {
	display: block;
    margin: auto;
	padding-top: 95px;
	/*box-shadow: 10px 0px 120px 60px rgba(89, 33, 97, 0.8);*/
	
	/*filter: drop-shadow(12px 12px 7px rgba(89,33,97,0.8));*/

}

.logo_small {
	display: none;
	margin: auto;
	padding-top: 95px;
}



.bottomteeth {
	top: 580px;
	position: absolute;
	background-image: url('img/bottom_zig_bg.png');
	background-repeat: repeat-x;
	height: 60px;
	width: 100%;	

}


.text {
	line-height: 1.5em;

}




/******** OLD CHECKBOXES ********/



.catsection {
	width: 700px;
	height: 20px;
	background-color: #732779;
	color: white;
    align-items: center;
    justify-content: center;
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	font-weight: 500;
	 border-radius: 7px;
	 padding-top: 1px;
	margin-bottom: 10px;

}

.categorylabel {
	width: 80px;
	height: 20px;
	background-color: white;
	color: #732779;
	display: flex;
    align-items: center;
    justify-content: center;
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	font-weight: 500;
	margin-bottom: 10px;

}

.category {
	max-height: 100%;
	background-color: #ffffff;
	text-align: center;
	list-style-type: none;
	
	display: flex;
	flex-direction: column;

    align-items: center;
    justify-content: center;
	
}



.liall {
	display: flex;
	flex-direction: column;
	margin-right: 10px;

	
}



/******** NEW CHECKBOXES ********/



.myContainer input[type="checkbox"][name="all"],
.myContainer input[type="checkbox"][name="typography"],
.myContainer input[type="checkbox"][name="illustration"],
.myContainer input[type="checkbox"][name="branding"],
.myContainer input[type="checkbox"][name="informational"],
.myContainer input[type="checkbox"][name="print"],
.myContainer input[type="checkbox"][name="poster"],
.myContainer input[type="checkbox"][name="book"] {
    opacity: 0;
    height: 47px;
    width: 47px;
    position: absolute;
    z-index: 2;
}
.myContainer input[type="checkbox"][name="all"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="typography"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="illustration"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="branding"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="informational"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="print"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="poster"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="book"]:not(:checked) + label.allcheck {
    background-image: url(img/unchecked.png);
    height: 47px;
    width: 47px;
    display:inline-block;
    z-index: 1;
}
.myContainer input[type="checkbox"][name="all"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="typography"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="illustration"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="branding"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="informational"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="print"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="poster"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="book"]:checked + label.allcheck {
    background-image: url(img/checked.png);
    height: 47px;
    width: 47px;
    display:inline-block;
}

/*
.myContainer input[type="checkbox"][name="all"] + label + label.text,
.myContainer input[type="checkbox"][name="cat"] + label + label.text,
.myContainer input[type="checkbox"][name="dog"] + label + label.text,
.myContainer input[type="checkbox"][name="bird"] + label + label.text {
    font: normal 12px arial;
    display: inline-block;
    line-height: 27px;
    vertical-align: top;
    margin: 5px 0px;
}




.myContainter {
	max-height: 100%;
	background-color: #ffffff;
	text-align: center;
	list-style-type: none;
	width: 100%;
	margin: 0 0 0 45px;
}
*/

.category ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}


.divider {
	background-color: #c8cf2c;
	height: 2px;
	width: 100%;
	margin: 5px 0px 8px 0px;
}


/******** GALLERY ********/

.groupwrap ul {
	display: flex;
	flex-direction: row;

/*	align-items: center;
    justify-content: center; */

}

.groupwrap li {

	

}


.galleryblock {

}

.gallery {
	margin: auto;
	width: 90%;
	

}

.gallery ul {
	

}

.gallery li {
	flex-wrap: wrap;
	position: relative;
	display: inline;
	flex-flow: row wrap;

	padding: 10px; /*spacing remains even if item is display:none*/


}



.button {
	width: 354px;
	height: 266px;
	position: relative;
	
 	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}


.button:hover {
	-webkit-box-shadow: 0px 0px 0px 6px rgba(200,207,44,1);
	-moz-box-shadow: 0px 0px 0px 6px rgba(200,207,44,1);
	box-shadow: 0px 0px 0px 6px rgba(200,207,44,1);
}



.group {
	display: inline-flex;
	background-color: #e7e290;
	width: 100%;
	border: 7px solid white;
	padding: 20px 0px 20px 0px;

}


.group2 {
	background-color: #c8cf2c;
}



.hcol-a {
	flex: .7;
	margin: 0px 15px 0px 15px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	letter-spacing: .5px;
	line-height: 1.5em;
	color: #732779;
}

.hcol-b1,
.hcol-b2,
.hcol-b3,
.hcol-b4,
.hcol-b5,
.hcol-b6,
.hcol-b7,
.hcol-b8 {
	flex: 2;
	
}

.hcol-c1,
.hcol-c2,
.hcol-c3,
.hcol-c4,
.hcol-c5,
.hcol-c6,
.hcol-c7,
.hcol-c8 {
	flex: 1.2;
}

.small1,
.small2 {
	width: 76.6%;
}
	
.small1:hover,
.small2:hover {	
	-webkit-box-shadow: 0px 0px 0px 6px #888888;
	-moz-box-shadow: 0px 0px 0px 6px #888888;
	box-shadow: 0px 0px 0px 6px #888888;

}

	
.vcol-a {
	flex: 1;
	min-width: 224px;
	flex: .7;
	margin: 0px 15px 0px 15px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	letter-spacing: .5px;
	line-height: 1.5em;
	color: #732779;
}

.vcol-b1, 
.vcol-b2,
.vcol-b3 {
	flex: 2.3;
	min-width: 490px;
	
}
.vcol-c1, 
.vcol-c2,
.vcol-c3 {
	flex: 2.7;
}


.line1,
.line2,
.line3,
.line4 {
	flex-display: column;
}

.vsmall1,
.vsmall2 {
	width: 45%;
}

.vsmall1:hover,
.vsmall2:hover {
	-webkit-box-shadow: 0px 0px 0px 6px #888888;
	-moz-box-shadow: 0px 0px 0px 6px #888888;
	box-shadow: 0px 0px 0px 6px #888888;
}


/**** ABOUT ****/

.bio {
	
	display: flex;

	color: #732779;

	font-size: 1em;
	max-width: 545px;
	line-height: 2em;
	text-align: justify;
	min-width: 545px;

	font-family: 'Dosis', sans-serif;
	flex-display: column;
	
	padding-top: 300px;
	
	
}


.megan {


}

.biogroup {
    background-color: rgba(200, 207, 44, 0.75);
    display: flex;
    width: 100%;
	align-items: center;
    justify-content: center;
	
	height: 595px;

}

.biogroup li {
	padding: 30px;
	flex-display: row;
}


/**** RESUME ****/



/**** CONTACT ****/



.contact1 {
	color: #732779;
	padding-top: 144px;
	padding-left: 98px;
	font-size: 1em;
	line-height: 1.5em;
	min-width: 310px;
	height: 650px;
}

.contact2 {
	color: #732779;
	padding-top: 172px;
	padding-left: 98px;
	font-size: 1em;
	line-height: 1.5em;
	min-width: 310px;
	height: 650px;
}



.contacticons ul {
	display: block;
	text-decoration: none;
}



li .email,
.linkedin,
.twitter,
.tumblr {
 vertical-align: middle;
 
}

.iconimg {
  vertical-align: middle;
}


.contactgroup {
    background-color: rgba(200, 207, 44, 0.75);

	font-family: 'Dosis', sans-serif;

	display: flex;
	flex-direction: row;
	
		align-items: center;
    justify-content: center;
	
	height: 595px;
}




/**** FOOTER ****/

.footerbuffer {
	padding-bottom: 30px;
}


.footer {
	background: #732779;
	text-align: center;
	padding: 20px;
	color: #ffffff;
	margin-top: 15px;
	font-family: 'Dosis', sans-serif;
	letter-spacing: .5px;
	font-weight: 400;

	clear: both;
}




/*Media Queries*/



@media screen and (device-width: 300px) and (device-height: 240px) and (-webkit-device-pixel-ratio: 2) {

	
	

	
	
		.button {
		width: 107.722px;
		height: 80.945px;
	}
	
	
	.navdemo {
	width: 60px;
	height: 37px;
	background-color: #732779;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 90;
    border-radius: 7px;
	font-family: 'Dosis', sans-serif;
	font-size: .8em;
	font-weight: 500;
	margin-left: 10px;

	margin-bottom: 13px;
	margin-top: 10px;
}


	.catsection {
	display: none;

	}


	.category {
	display: none;
	
	}

.group {
	display: block;
	background-color: #e7e290;
	width: 100%;
	border: 3px solid white;
	padding: 5px 0px 5px 10px;


}





.hcol-a,
.vcol-a {
	margin: 0px 2px 0px 2px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	color: #732779;
	display: block;
}

.hcol-b1,
.hcol-b2,
.hcol-b3,
.hcol-b4,
.hcol-b5,
.hcol-b6,
.hcol-b7,
.hcol-b8,
.vcol-b1, 
.vcol-b2,
.vcol-b3 {
	display: block;
	
}

.hcol-c1,
.hcol-c2,
.hcol-c3,
.hcol-c4,
.hcol-c5,
.hcol-c6,
.hcol-c7,
.hcol-c8,
.vcol-c1, 
.vcol-c2,
.vcol-c3 {
	display: inline;
}

.small1,
.small2 {
		width: 77px;
		display: inline;

}


.vsmall1,
.vsmall2 {
	width: 57.843px;
	display: inline;
}

.hlarge {
	width: 229.055px;
	padding-top: 10px;
}

.vlarge {
	width: 172.069px;
	padding-top: 10px;
	
}

}



@media screen and (min-width:300px) and (max-width:550px){
	.gallery {
 
	}
	
	.button {
		width: 107.722px;
		height: 80.945px;
	}
	
	
	.navdemo {
	width: 60px;
	height: 37px;
	background-color: #732779;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 90;
    border-radius: 7px;
	font-family: 'Dosis', sans-serif;
	font-size: .8em;
	font-weight: 500;
	margin-left: 10px;

	margin-bottom: 13px;
	margin-top: 10px;
}


	.catsection {
	display: none;

	}


	.category {
	display: none;
	
	}

.group {
	display: block;
	background-color: #e7e290;
	width: 100%;
	border: 3px solid white;
	padding: 5px 0px 5px 10px;


}





.hcol-a,
.vcol-a {
	margin: 0px 2px 0px 2px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	color: #732779;
	display: block;
}

.hcol-b1,
.hcol-b2,
.hcol-b3,
.hcol-b4,
.hcol-b5,
.hcol-b6,
.hcol-b7,
.hcol-b8,
.vcol-b1, 
.vcol-b2,
.vcol-b3 {
	display: block;
	
}

.hcol-c1,
.hcol-c2,
.hcol-c3,
.hcol-c4,
.hcol-c5,
.hcol-c6,
.hcol-c7,
.hcol-c8,
.vcol-c1, 
.vcol-c2,
.vcol-c3 {
	display: inline;
}

.small1,
.small2 {
		width: 77px;
		display: inline;

}


.vsmall1,
.vsmall2 {
	width: 57.843px;
	display: inline;
}

.hlarge {
	width: 229.055px;
	padding-top: 10px;
}

.vlarge {
	width: 172.069px;
	padding-top: 10px;
	
}


}

@media screen and (device-width: 300px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {

	
	

	
	
		.button {
		width: 107.722px;
		height: 80.945px;
	}
	
	
	.navdemo {
	width: 60px;
	height: 37px;
	background-color: #732779;
	color: white;
	display: flex;
    align-items: center;
    justify-content: center;
	z-index: 90;
    border-radius: 7px;
	font-family: 'Dosis', sans-serif;
	font-size: .8em;
	font-weight: 500;
	margin-left: 10px;

	margin-bottom: 13px;
	margin-top: 10px;
}


	.catsection {
	display: none;

	}


	.category {
	display: none;
	
	}

.group {
	display: block;
	background-color: #e7e290;
	width: 100%;
	border: 3px solid white;
	padding: 5px 0px 5px 10px;


}





.hcol-a,
.vcol-a {
	margin: 0px 2px 0px 2px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
	color: #732779;
	display: block;
}

.hcol-b1,
.hcol-b2,
.hcol-b3,
.hcol-b4,
.hcol-b5,
.hcol-b6,
.hcol-b7,
.hcol-b8,
.vcol-b1, 
.vcol-b2,
.vcol-b3 {
	display: block;
	
}

.hcol-c1,
.hcol-c2,
.hcol-c3,
.hcol-c4,
.hcol-c5,
.hcol-c6,
.hcol-c7,
.hcol-c8,
.vcol-c1, 
.vcol-c2,
.vcol-c3 {
	display: inline;
}

.small1,
.small2 {
		width: 77px;
		display: inline;

}


.vsmall1,
.vsmall2 {
	width: 57.843px;
	display: inline;
}

.hlarge {
	width: 229.055px;
	padding-top: 10px;
}

.vlarge {
	width: 172.069px;
	padding-top: 10px;
	
}

}


@media screen and (min-width: 300px) and (max-width: 790px) {
	
	.bio {
	
	display: block;

	color: #732779;

	font-size: .9em;
	max-width: 280px;
	line-height: 1.5em;
	text-align: justify;
	min-width: 280px;

	font-family: 'Dosis', sans-serif;
	
	padding-top: 100px;
	margin-left: 0px;
	
}
	.megan {
		display: none;
		
		
	}

	
	
	.biogroup {
	display: flex;
    background-color: rgba(200, 207, 44, 0.75);
    display: block
    width: 100%;
	height: 595px;


	}
	
	
	.contact1 {
	display: none;
	}

.contact2 {
	color: #732779;
	padding-top: 172px;
	padding-left: 25px;
	font-size: 1em;
	line-height: 1.5em;
	min-width: 280px;
	height: 650px;
}
	
	
	.contactgroup {

	font-family: 'Dosis', sans-serif;

	display: flex;
	flex-direction: row;
	
		align-items: center;
    justify-content: center;
	
	height: 595px;
}

	
}


@media screen and (min-width: 300px) and (max-width: 1919px) {
	.logo_large {
		display: none;
	}
	
	.logo_small {
		display: block;
	}
}


@media screen and (min-width:1920px) {
	
	.background {
		height: 800px;
	}


	.logo_small {
		display: none;
	}
	
	.logo_large {
	display: block;
	width: 17.3%;
	}
	



	.bottomteeth {
	top: 785px;
	}
	
	.gallery {
	width: 70%; 

	}

	.biogroup,
	.contactgroup {
		height: 800px;
	}

}

@media screen and (min-width:1290px) and (max-width:1604px){
	.gallery {
	width: 70%; }
}



/*
@media screen and (min-width:320px) and (max-width:359px){
	.nav li {
		padding: 4px 0 4px 0;
	}
		
		.navlg {
		display: none;
		}
	.navsm {
		display: block;
		}
		
		.topteeth {
	top: 33px;
	} 	

	.background {
		height: 420px;
	background: url("img/320.png") no-repeat;
	}

	.bottomteeth {
	top: 407px;
	}



@media only screen and (min-device-width:360px) and (max-device-width:767px){
	
	.nav li {
		padding: 4px 0 4px 0;
	}
	
	.navlg {
		display: none;
		}
	.navsm {
		display: block;
		}
		
	.topteeth {
	top: 33px;
} 


	.background {
		height: 520px;
	background: url("img/360.png") no-repeat;
}

.bottomteeth {
	top: 507px;
}
	
	
@media screen and (min-width:768px) and (max-width:799px){
		.background {
		width:
	}
	
} 
	
	/**** 800 LANDSCAPE
@media only screen and (min-width:800px) and (max-width:979px)
and (orientation : landscape){
		.background {
		background: url("img/800_l.png") no-repeat;
		width: 100%;
	}
	
} 	 *****/

/**** 800 PORTRAIT *****/	
/*@media only screen and (min-device-width:800px) {
		.background {
		background: url("img/800_p.png") no-repeat;
		width: 100%;
	}
	
} 
	
/**** 980 LANDSCAPE *****/
/*@media only screen and (min-device-width:980px) and (max-device-width:1279px) 
and (orientation : portrait){
	.background {
	
	background: url("img/980_l.png") no-repeat;
	width: 100%;

	}
} 
		
	
	
/**** 980 PORTRAIT *****/
/*@media screen and (min-device-width:980px) and (max-device-width:1279px)
and (orientation : portrait){
	.background {
	
	background: url("img/980_p.png") no-repeat;
	height: 594px;
	width: 100%;
	}
	
	.bottomteeth {
	top: 578px;
	height: 60px;
	width: 100%;	

	}
} 
	
/** 1280 LANDSCAPE px **/
/*@media screen and (min-width:1280px) and (max-width:1919px) 
and (orientation : landscape){
	.background {
	
	background: url("img/1280_l.png") no-repeat;
	height: 594px;
	width: 100%;
	}
	
	.bottomteeth {
	top: 578px;
	height: 60px;
	width: 100%;	
}



@media screen and (min-width:1920px)
and (orientation : landscape){
	.background {
		
		width:
		height:
	}
}

*/