@charset "utf-8";

/* CSS Reset */

    /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
	
	 html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    

	article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }


/* CSS Document */

* {
	box-sizing: border-box;
}


.test {
	/*align-items: center;
    justify-content: center;
	vertical-align: middle;
	
	text-align: center;*/
	
}



.wrapnav ul{
	width: 100%;
	position: fixed;
	
	text-align: center;
}



.nav {
	margin: 0 auto;
	list-style-type: none;
	background: #ffffff;
	z-index: 30;
	height: 60px;
} 


.nav a {
	text-decoration: none;		
}




.navmid {
	display:inline;
}


.navstyle {
	width: 100px;
	height: 37px;
	background-color: #732779;
	color: white;

	z-index: 90;
    border-radius: 7px;
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	font-weight: 500;
	display: inline-block;

	margin: 10px 0px 0px 30px;
	
	align-items: center;
    justify-content: center;
	
	text-align: center;
	vertical-align: middle;
	padding: 10px;

}

.active {
	background-color: #592161;
	color: #C8CF2C;
}

/****** OTHER *******/


.topteeth {
	z-index: 20;
	position: fixed;
	top: 56px;
	background-image: url('img/top_zig_bg.png');
	background-repeat: repeat-x;
	height: 56px;
	width: 100%;	

}

.main {
	top: 90px;
	background: #922d90;
}

	

.welcome {
	padding-top: 120px;
	padding-left: 70px;
	font-size: 1em;
	color: #922d90;
	max-width: 25%;
	line-height: 2em;
	text-align: justify;
	min-width: 310px;
	font-family: 'Dosis', sans-serif;
	visibility: hidden;
	
}

.wtext { 
	background-color:#ffffff; 
	visibility: hidden;
}

.arrows {
	display: block;
	margin: 30px 0 0 75px;
	width: 20%;
	visibility: hidden;
}


.background {
	padding-top: 95px;
	background: url('img/zigzag_tile3.png') repeat;
	background-attachment: fixed;
	height: 593px;
	width: 100%;
	-webkit-box-shadow: inset 10px 0px 120px 60px rgba(89, 33, 97, 0.8);
	-moz-box-shadow: inset 10px 0px 120px 60px rgba(89, 33, 97, 0.8);
	-ms-box-shadow: inset 10px 0px 120px 60px rgba(89, 33, 97, 0.8);
	-o-box-shadow: inset 10px 0px 120px 60px rgba(89, 33, 97, 0.8);
	box-shadow: inset 10px 0px 120px 60px rgba(89, 33, 97, 0.8);
}

.wpcontainer {
	width: 100%;
	height: auto;
}

.logo_large {
	display: block;
    margin: auto;
	
	width: 228.578px;
	height: auto;
	/*box-shadow: 10px 0px 120px 60px rgba(89, 33, 97, 0.8);*/
	
	/*filter: drop-shadow(12px 12px 7px rgba(89,33,97,0.8));*/

}

.logo_small {
	display: none;
	margin: auto;
	padding-top: 95px;
}



.bottomteeth {
	top: 580px;
	position: absolute;
	background-image: url('img/bottom_zig_bg.png');
	background-repeat: repeat-x;
	height: 60px;
	width: 100%;	

}


.text {
	line-height: 1.5em;

}




/******** OLD CHECKBOXES ********/



.catsection {
	width: 700px;
	height: 20px;
	background-color: #732779;
	color: white;
    align-items: center;
    justify-content: center;
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	font-weight: 500;
	 border-radius: 7px;
	 padding-top: 1px;
	margin-bottom: 10px;
	
	display: inline-block;

}

.categorylabel {
	width: 80px;
	height: 20px;
	background-color: white;
	color: #732779;
    align-items: center;
    justify-content: center;
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	font-weight: 500;
	margin-bottom: 10px;
	

}

.category {
	max-height: 100%;
	background-color: #ffffff;
	text-align: center;
	list-style-type: none;

    align-items: center;
    justify-content: center;

	
}



.liall {
	margin-right: 10px;
	
		display: inline-block;

	
}



/******** NEW CHECKBOXES ********/



.myContainer input[type="checkbox"][name="all"],
.myContainer input[type="checkbox"][name="typography"],
.myContainer input[type="checkbox"][name="illustration"],
.myContainer input[type="checkbox"][name="branding"],
.myContainer input[type="checkbox"][name="informational"],
.myContainer input[type="checkbox"][name="print"],
.myContainer input[type="checkbox"][name="poster"],
.myContainer input[type="checkbox"][name="book"] {
    opacity: 0;
    height: 47px;
    width: 47px;
    position: absolute;
    z-index: 2;
}
.myContainer input[type="checkbox"][name="all"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="typography"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="illustration"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="branding"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="informational"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="print"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="poster"]:not(:checked) + label.allcheck,
.myContainer input[type="checkbox"][name="book"]:not(:checked) + label.allcheck {
    background-image: url(img/unchecked.png);
    height: 47px;
    width: 47px;
    display:inline-block;
    z-index: 1;
}
.myContainer input[type="checkbox"][name="all"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="typography"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="illustration"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="branding"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="informational"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="print"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="poster"]:checked + label.allcheck,
.myContainer input[type="checkbox"][name="book"]:checked + label.allcheck {
    background-image: url(img/checked.png);
    height: 47px;
    width: 47px;
    display:inline-block;
}

/*
.myContainer input[type="checkbox"][name="all"] + label + label.text,
.myContainer input[type="checkbox"][name="cat"] + label + label.text,
.myContainer input[type="checkbox"][name="dog"] + label + label.text,
.myContainer input[type="checkbox"][name="bird"] + label + label.text {
    font: normal 12px arial;
    display: inline-block;
    line-height: 27px;
    vertical-align: top;
    margin: 5px 0px;
}




.myContainter {
	max-height: 100%;
	background-color: #ffffff;
	text-align: center;
	list-style-type: none;
	width: 100%;
	margin: 0 0 0 45px;
}
*/

.category ul {

	list-style-type: none;
}


.divider {
	background-color: #c8cf2c;
	height: 2px;
	width: 100%;
	margin: 5px 0px 8px 0px;
}


/******** GALLERY ********/



.gallery {
text-align: center;
}

.gallery ul {
	width: 100%;
		margin: 0 auto;
		
	

}


.buttonwidth {
	width: 354px;
	height: auto;
	

}

.gallery li {
	
	display: inline;

	width: 100%;
	height: auto;
}



.button {

	margin: 10px;

	list-style-type: none;
	display: inline-block;
	

}





.buttonwidth:hover {
	-ms-box-shadow: 0px 0px 0px 6px rgba(200,207,44,1);
	-o-box-shadow: 0px 0px 0px 6px rgba(200,207,44,1);
	
	-webkit-box-shadow: 0px 0px 0px 6px rgba(200,207,44,1);
	-moz-box-shadow: 0px 0px 0px 6px rgba(200,207,44,1);
	box-shadow: 0px 0px 0px 6px rgba(200,207,44,1);
}



.group {

	background-color: #e7e290;
	width: 100%;
	border: 7px solid white;
	padding: 20px 0px 20px 0px;

	column-count: 3;
	-moz-column-count: 3;

}


.group2 {
	background-color: #c8cf2c;
	column-count: 3;
-moz-column-count: 3;
}



.hcol-a {

	margin: 0px 15px 0px 15px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	letter-spacing: .5px;
	line-height: 1.5em;
	color: #732779;
	width: 250px;

	
}

.hcol-b1,
.hcol-b2,
.hcol-b3,
.hcol-b4,
.hcol-b5,
.hcol-b6,
.hcol-b7,
.hcol-b8 {
	display: inline;
	width: 100%;

}

.hcol-c1,
.hcol-c2,
.hcol-c3,
.hcol-c4,
.hcol-c5,
.hcol-c6,
.hcol-c7,
.hcol-c8 {
	display: inline-block;


}

.small1,
.small2 {
	
	width: 48%;
}
	
.small1:hover,
.small2:hover {	
	-ms-box-shadow: 0px 0px 0px 6px #888888;
	-o-box-shadow: 0px 0px 0px 6px #888888;
	-webkit-box-shadow: 0px 0px 0px 6px #888888;
	-moz-box-shadow: 0px 0px 0px 6px #888888;
	box-shadow: 0px 0px 0px 6px #888888;

}

	
.vcol-a {

	min-width: 224px;

	margin: 0px 15px 0px 15px;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	letter-spacing: .5px;
	line-height: 1.5em;
	color: #732779;
	width: 250px;
}

.vcol-b1, 
.vcol-b2,
.vcol-b3 {
	min-width: 490px;
	
}
.vcol-c1, 
.vcol-c2,
.vcol-c3 {
	display: inline;

}


.line1,
.line2,
.line3,
.line4 {
}

.vsmall1,
.vsmall2 {
	width: 37%;
	display: inline;
}

.vsmall1:hover,
.vsmall2:hover {
	-ms-box-shadow: 0px 0px 0px 6px #888888;
	-o-box-shadow: 0px 0px 0px 6px #888888;
	-webkit-box-shadow: 0px 0px 0px 6px #888888;
	-moz-box-shadow: 0px 0px 0px 6px #888888;
	box-shadow: 0px 0px 0px 6px #888888;
}


/**** ABOUT ****/

.bio {
	color: #732779;
	font-family: 'Dosis', sans-serif;
}


.bioblock {
	
	font-size: 1em;
	max-width: 545px;
	line-height: 2em;
	text-align: justify;
	min-width: 545px;
	padding: 30px;
	justify-content: center;
	padding-top: 150px;
}

.biogroup {
    background-color: rgba(200, 207, 44, 0.75);
	text-align: center;
	height: 595px;
	
}

.biogroup li {
	
	display: inline-block;
}



/**** RESUME ****/



/**** CONTACT ****/






.contact1 {
	color: #732779;
	padding-top: 144px;
	padding-left: 98px;
	font-size: 1em;
	line-height: 1.5em;
	min-width: 310px;
	height: 650px;
}

.contact2 {
	color: #732779;
	padding-top: 172px;
	padding-left: 98px;
	font-size: 1em;
	line-height: 1.5em;
	min-width: 310px;
	height: 650px;
}



.contacticons ul {
	display: block;
	text-decoration: none;
}



li .email,
.linkedin,
.twitter,
.tumblr {
 vertical-align: middle;
 
}

.iconimg {
  vertical-align: middle;
}


.contactgroup {
    background-color: rgba(200, 207, 44, 0.75);

	font-family: 'Dosis', sans-serif;
	
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	
		align-items: center;
    justify-content: center;
	
	height: 595px;
}






/*
.contact1 {
	color: #732779;
	font-size: 1em;
	line-height: 1.5em;
		display: inline;
}

.contact2 {
	color: #732779;
	font-size: 1em;
	line-height: 1.5em;
	display: inline;
	
	min-width: 310px;
}



.contactgroup {
    background-color: rgba(200, 207, 44, 0.75);
	font-family: 'Dosis', sans-serif;
	padding-top: 144px;
	text-align: center;
	height: 595px;
	
	
}



.contacticons ul {
	display: block;
	text-decoration: none;
}



li .email,
.linkedin,
.twitter,
.tumblr {
 vertical-align: middle;
 
}

.iconimg {
  vertical-align: middle;
}

*/





/**** FOOTER ****/

.footerbuffer {
	padding-bottom: 30px;
}


.footer {
	background: #732779;
	text-align: center;
	padding: 20px;
	color: #ffffff;
	margin-top: 15px;
	font-family: 'Dosis', sans-serif;
	letter-spacing: .5px;
	font-weight: 400;

	clear: both;
}




/*Media Queries*/

@media screen and (min-width:1920px) {
	
	.background {
		height: 800px;
	}


	.bottomteeth {
	top: 785px;
	}
	
.logo_large {
	width: 17.4%;
	height: auto;
}


	.biogroup,
	.contactgroup {
		height: 800px;
	}


}



@media screen and (max-width:782px) {
	.category {
		display: none;
	}
	
	.divider {
		display: none;
	}
	
	.buttonwidth {
		width: 70%;
		height: auto;
		display: inline;
	}
	
	.meganimg {
		display: none;
	}
	
}

@media screen and (max-width:563px) {
	
	
	
	.navstyle {
	width: 60px;
	height: 37px;
	background-color: #732779;
	color: white;

	z-index: 90;
    border-radius: 7px;
	font-family: 'Dosis', sans-serif;
	font-size: .8em;
	font-weight: 500;
	display: inline-block;

	margin: 8px 0px 0px 5px;
	
	align-items: center;
    justify-content: center;
	
	text-align: center;
	vertical-align: middle;
	padding: 10px;

	}
	
	.bioblock {
	font-size: .9em;
	max-width: 320px;
	line-height: 1.7em;
	text-align: justify;
	min-width: 320px;
	padding: 30px;
	justify-content: center;
	padding-top: 150px;
	}
	
	
	.contact2 {
		display: none;
	}

.gallery {
	z-index: 15;
}

.background {
	height: 300px;
	}
	
	.botton {
		z-index: 16;
	}
}